.main {
    display: flex;
}

.header {
    padding: 20px;
}

.main .character {
    width: 40%;
    padding: 20px;
}

.main .character img {
    max-width: 100%;
}

.main .episodes {
    width: 60%;
    padding: 20px;
    border-left: 1px solid black;
}

.main .episodes .episode {
    padding-bottom: 8px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.pagination {
    display: flex;
}

.pagination > * {
    padding: 0 8px;
}

.pagination .page-link {
    padding: 0 4px;
}

.pagination .page-link.active {
    color: red;
}

.pagination .arrow {
    width: 20px;
    height: 20px;
}
